---
title: 视思团队
description: 视思已经建立了由开发人员、市场营销人员、设计师和销售人员组成的专业团队。
---
<div class="content" align="center">
	<h2>视思理念</h2>
	<p><strong>工作负荷的极简化<br>&<br>视频广告效果的最大化</strong></p>
	<p>视思使用机器学习来辅助视频创作，且不需要运营人员具备十分专业的相关知识，傻瓜式操作，极易上手。<br>我们希望帮助客户一键式发布视频广告，并且轻松获得广告洞察和反馈报告。</p>
	<br>
	<br>
	<div class="button button2"><a href="/contact">免费开始</a></div>
</div>

<!-- <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul> -->
