---
title: 价格
heading: 选择适合您的定价计划
description: 所有平台定价计划均为由人工智能驱动的极简化解决方案，包含视频创意自动生成、视频广告和广告洞察

pricing_table:
  - name: 基础版
    color: "#8e8e8e"
    features:
      - text: 23美元/月
        highlight: true
      - text: 最多5个视频创意
        highlight: false
      - text: 免费试用一键式广告生产
        highlight: false
      - text: 基础版广告数据
        highlight: false
      - text: 按使用量付费
        highlight: false
      - text: 24小时内邮件客服支持
        highlight: false
    call_to_action:
      link: /contact
      text: 开始
  - name: 专业版
    color: "#4a4a4a"
    features:
      - text: 99美元/月
        highlight: true
      - text: 包含基础版所有功能
        highlight: false
      - text: 生成最多25个视频创意
        highlight: false
      - text: 1000美元以内广告预算免服务费
        highlight: false
      - text: 高级版广告数据
        highlight: false
      - text: 2小时内邮件支持
        highlight: false
    call_to_action:
      link: /contact
      text: 开始
  - name: 企业版
    color: "#000000"
    features:
      - text: 定制价格
        highlight: true
      - text: 包含专业版所有功能
        highlight: false
      - text: 最多5个子账户
        highlight: false
      - text: 广告预测
        highlight: false
      - text: 人工智能生成报告
        highlight: false
      - text: 24小时电话/邮件支持
        highlight: false
    call_to_action:
      link: /contact
      text: 开始
  - name: 数字营销机构
    color: "#000000"
    features:
      - text: 定制价格
        highlight: true
      - text: 包含专业版所有功能
        highlight: false
      - text: 多个子账户
        highlight: false
      - text: 营销策略助力
        highlight: false
      - text: 全方位解决方案
        highlight: false
      - text: 24小时电话/邮件支持
        highlight: false
    call_to_action:
      link: /contact
      text: 开始    
faq:
  - question: 接受哪种付款方式?
    answer: 信用卡包括万事达卡、Visa卡或美国运通卡。
  - question: 是否为非营利组织提供单独定价?
    answer: 是的，给我们发个信息，我们会帮你确定我们的非盈利价格。
  - question: 我以后能改变计划吗?
    answer: 是的，你可以随时升级和降级你的计划。
  - question: 其他问题？
    answer: 如有任何其他问题，请与我们联系。
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>价格相关问题</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
